<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="../images/ttl.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Revest</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="../css/bootstrap.css" rel="stylesheet" />
        <link href="../css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>


    </head>
    <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>

                    </button>
                        <div class="">
                            <div class="logo">
                                <img src="../images/new_logo.png" alt="Revest">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient gray" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="../images/lines-background.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                  
                        <div class="col-md-6 col-md-offset-1">
                            <div class="description" id="description">
                                <h2>Prosper <span style="color:#13aa52">&</span> Grow</h2>
                                <br>
                                <h5 dir="rtl">החברה היחידה מסוגה בישראל שמתמחה בפיתוח אינדיקטורים ומערכות ייחודיות לדיוק מסחר בשוק ההון בכל תנודה אפשרית בשוק ברמה הכי גבוהה שיש</h5>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="parallax-image" id="phone-img">
                                <img class="phone" src="../images/iphone3.png" style="margin-top: 20px"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description">
                                <h4 dir="rtl" style="color:#13aa52" class="header-text">מסחר</h4>
                                <p dir="rtl"> צוותי מסחר שמתמחים בקריפטו,מניות ומט"ח.<br>מגיעים לאחוזים גבוהים במיוחד ביחס לשוק מידי<br> חודש עם ניהול סיכונים קפדני ביותר.<br>ובעזרת אסטרטגיות וניהול הסיכונים של צוותי המסחר<br>החברה יודעת לייצר ללקוחותיה רווחים גבוהים ויציבים
                                </p>
                                <h4 dir="rtl" style="color:#13aa52" class="header-text">לקוחות</h4>
                                <p dir="rtl">לקוחותינו נהנים מתשואה חודשית גבוהה בהתאם למסלול הנבחר.<br/>ישנם מגוון מסלולים אטרקטיביים במיוחד !<br/>שירות לקוחות והיענות גבוהה במיוחד<br/>על מנת לספק ללקוחותינו את חווית השירות הנוחה והיעילה ביותר שיש.</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <img src="../images/growing-hand.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-features" >
                <div class="container">
                    <h4 dir="rtl" class="header-text text-center">מסלולים</h4>
                    <div class="row" dir="rtl">
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                </div>
                                <h4 dir="rtl">מסלול <span style="color:purple;font-weight: bold;">YOUNG</span></h4>
                                <p dir="rtl">תשואה חודשית של 1%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                </div>
                                <h4 dir="rtl">מסלול <span style="color:#dbd20f;font-weight: bold;">GOLD</span></h4>
                                <p dir="rtl">תשואה חודשית של 1.25%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                </div>
                                <div class="text">
                                <h4 dir="rtl">מסלול <span style="color:royalblue;font-weight: bold;">VIP</span></h4>
                                <p dir="rtl">תשואה חודשית של 1.60%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="../images/dropping-money.jpg"/>
                    </div>
                    <div class="info" id="inputs-info">
                        <div >
                            <h2 dir="rtl">צור קשר</h2>
                            <p id="backToUs" dir="rtl">השאר פרטים ואנו נחזור אליך עם פרטים נוספים</p>
                            <form action="/" method="post" >
                                <div class="row form-group">
                                    <div class="col-md-6" dir="rtl">
                                        <!-- <label for="fname">First Name</label> -->
                                        <input dir="rtl" name="fname" type="text" id="fname" class="form-control" placeholder="שם פרטי" required>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <label for="lname">Last Name</label> -->
                                        <input dir="rtl" name="lname" type="text" id="lname" class="form-control" placeholder="שם משפחה" required>
                                    </div>
                                </div>
    
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="email">Email</label> -->
                                        <input dir="rtl" name="email" type="email" id="email" class="form-control" placeholder="כתובת מייל">
                                    </div>
                                </div>
    
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="subject">Subject</label> -->
                                        <input  dir="rtl" type="number" name="phone" id="subject" class="form-control" placeholder="טלפון" required>
                                    </div>
                                </div>
    
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="message">Message</label> -->
                                        <textarea   dir="rtl" name="txtArea" name="message" id="message" cols="30" rows="10" class="form-control" placeholder="כתוב לנו מה תרצה לדעת?"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" value="Send Message" class="btn btn-primary" id="btnSend">שלח</button>
                                </div>
                            </form>		
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="fixed-plugin">

        </div>

    </body>
    <script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/awesome-landing-page.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </html>
